<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bingmerchantapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MerchantSignup"
            android:label="@string/title_activity_merchant_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".MerchantRequests"
            android:label="@string/title_activity_merchant_requests"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".ConsumerSignup"
            android:label="@string/title_activity_consumer_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".ConsumerVendors"
            android:label="@string/title_activity_consumer_vendors"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".UserTasks"
            android:label="@string/title_activity_user_tasks"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".MerchantReverts"
            android:label="@string/title_activity_merchant_reverts" >
        </activity>
        <activity
            android:name=".NewServiceSearch"
            android:label="@string/title_activity_new_service_search" >
        </activity>
        <activity
            android:name=".RecentServiceReviews"
            android:label="@string/title_activity_recent_service_reviews" >
        </activity>
        <activity
            android:name=".ConsumerAddVendor"
            android:label="@string/title_activity_consumer_add_vendor" >
        </activity>
        <activity
            android:name=".ConsumerProfile"
            android:label="@string/title_activity_consumer_profile" >
        </activity>
        <activity
            android:name=".MerchantListActivity"
            android:label="@string/title_merchant_list" >
        </activity>
        <activity
            android:name=".MerchantDetailActivity"
            android:label="@string/title_merchant_detail"
            android:parentActivityName=".MerchantListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MerchantListActivity" />
        </activity>
        <activity
            android:name=".SearchQuery"
            android:label="@string/title_activity_search_query" >
        </activity>
        <activity
            android:name=".SendQuery"
            android:label="@string/title_activity_send_query" >
        </activity>
        <activity
            android:name=".InputFieldListActivity"
            android:label="@string/title_inputfield_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".InputFieldDetailActivity"
            android:label="@string/title_inputfield_detail"
            android:parentActivityName=".InputFieldListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.InputFieldListActivity" />
        </activity>
        <activity
            android:name=".MerchantRequestListActivity"
            android:label="@string/title_merchantrequest_list" >
        </activity>
        <activity
            android:name=".MerchantRequestDetailActivity"
            android:label="@string/title_merchantrequest_detail"
            android:parentActivityName=".MerchantRequestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MerchantRequestListActivity" />
        </activity>
        <activity
            android:name=".ConsumerRequestListActivity"
            android:label="@string/title_consumerrequest_list" >
        </activity>
        <activity
            android:name=".ConsumerRequestDetailActivity"
            android:label="@string/title_consumerrequest_detail"
            android:parentActivityName=".ConsumerRequestListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.ConsumerRequestListActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
    </application>

</manifest>
