<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bingmerchantapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MerchantSignup"
            android:label="@string/title_activity_merchant_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".MerchantRequests"
            android:label="@string/title_activity_merchant_requests"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".ConsumerSignup"
            android:label="@string/title_activity_consumer_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".ConsumerVendors"
            android:label="@string/title_activity_consumer_vendors"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".SearchQuery"
            android:label="@string/title_activity_search_query" >
        </activity>
        <activity
            android:name=".SendQuery"
            android:label="@string/title_activity_send_query" >
        </activity>
        <activity
            android:name=".InputFieldListActivity"
            android:label="@string/title_inputfield_list"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>
        <activity
            android:name=".InputFieldDetailActivity"
            android:label="@string/title_inputfield_detail"
            android:parentActivityName=".InputFieldListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.InputFieldListActivity" />
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.bingmerchantapp.MainActivity" />
        </activity>

    </application>

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
